@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black  
}

header{   
}

.header div{
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: 0%;
}

.header div a{
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: 0%;
    height: 3px;
}

.img-display{
    display:block;
    margin: auto;  
  }  

nav ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center ;
    list-style-type: none;
}

nav ul li{	
    width: 100%;
    height: min-content;
    background-color: #46D5F8;
    padding: 65px;
    height:2px ;
}

nav ul li a{
    color: red;
    text-decoration: none;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}


.medio{
    background-image: url(../imagenes/IndexManolo.png);
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: red;
}

.medio div img{
}

.abajo{
background-color: beige;
display: flex;
flex-direction: row;
align-items: center;
align-content: space-between;
justify-content: center;
}

.abajo div{
    width: 100%;
    margin: 50px;
    flex-direction: row;
}

.abajo div a img{
    width: 100%;
    display: flex;
    flex-direction: row;
}


footer{
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 4%;
    justify-content: center;
    align-items: center;
    margin: 5px;  
}

.Sucursales{
    background-color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.contenedor {
    display:flex
  }
  
.contenedor div {
    width: 50%;
  }


@media (max-width: 480px) { 

}